.form {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  @include form_shadow;
  border-radius: 4px;
  //width: 100% ;
  max-width: 332px;
  height: 100%;
  padding:  24px;
  margin:0 8px 16px 0;
}

.prod-form {

  max-width: 332px;
  height: 100%;
  justify-content: left;
  display: flex;
  flex-direction: column;
  //margin: auto;
  //padding: 16px 40px 16px 16px;

  &__block {
    margin: 0 0 16px 0;
  }

  &__label-block {
    display: flex;
    flex-direction: row;
    margin: 0 0 4px 0;
  }
}

.label {
  @include form_font_span
}

.textarea {
  resize: none;
  border: none;
  width: 284px;
  height: 108px;
  @include form_font_placeholder;
  @include input_style;
}

.input {
  width: 284px;
  height: 36px;

  &::placeholder {
    padding: 0 0 0 1rem;
  }

  border: none;
  @include form_font_placeholder;
  @include input_style;

}

.circle {
  width: 4px;
  height: 4px;
  background-color: $clr-red;
  border-radius: 50%;
}

.btn_form {
  @include form_btn;
  background: $clr-disabled-btn;
  color: $clr-disabled;;


  &:hover {
    background: $clr-disabled;
    color: $clr-disabled-btn;
    transition-duration: .5s;
    transition-delay: .1s;
  }

}

.btn_accepted {
  &:hover {
    transition-duration: .2s;
    transition-delay: .1s;
    background: #4f6e4a;
  }

  @include form_btn;
  background: $clr-accept-btn;
  color: #ffffff;
}