.prod_main {
  margin: 6px;
  width: 332px;
  height: 423px;

  border-radius: 4px;

  &:hover .wrap {
    display: block;
  }

  position: relative;
}

.product {
  @include prod_shadow;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    transition-duration: .2s;
    transition-delay: .1s;
    @include prod_shadow_hover;
    cursor: pointer
  }
}


.about {
  align-items: stretch;
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 0 16px 16px 24px;

  &__img {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    @include ff_Sans_Semi;
  }

  &__description {
    padding: 16px 0 32px 0;
    @include ff_Sans_400;
  }

  &__price {
    @include ff_Sans_price;
  }
}


.product-list {
  display: flex;
  //justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

