.product {
  @include prod_shadow;
  width: 332px;
  height: 423px;

  &:hover {
    transition-duration: .2s;
    transition-delay: .1s;
    @include prod_shadow_hover;
    cursor: pointer
  }

  border-radius: 4px;
  margin: 0 8px 16px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.about {

  display: flex;
  flex-direction: column;
  text-align: left;

  padding: 0 8px 16px 8px;

  &__img {
    padding-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    @include ff_Sans_Semi;
  }

  &__description {
    @include ff_Sans_400;
  }

  &__price {
    @include ff_Sans_price;
  }
}


.product-list {
  margin-left: 40px;
  display: flex;
  //justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.prod_main {
  &:hover .wrap {
    display: block;
  }

  position: relative;
}