@font-face {
  font-family: 'Inter-SemiBold';
  src: url($path-font  + "Inter-SemiBold.ttf");
}
@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url($path-font  + "SourceSansPro-Regular.ttf");
}
@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url($path-font  + "SourceSansPro-SemiBold.ttf");
}