@mixin ff_Sans_Semi {
  font: {
    color: $font_clr_1;
    family: $font_Sans_P_Semi;
    size: 2.2rem;
    weight: 600;
  }
  line-height: 35.2px;
}


@mixin ff_Sans_600 {
  font: {
    family: $font_Sans_P_Regular;
    size: 1.25rem;
    weight: 600;
  }
  line-height: 25.14px;
}

@mixin ff_Sans_400 {
  color: $font_clr_1;
  font: {
    family: $font_Sans_P_Regular;
    size: 1.25rem;
    weight: 400;
  }
  line-height: 20.11px;
}

@mixin ff_Sans_price {
  font: {
    family: $font_Sans_P_Regular;
    size: 1.5rem;
    weight: 600;
  }
  line-height: 30.17px;
}

@mixin form_font_placeholder{
  font: {
    color: $clr-disabled;
    family: $font_Sans_P_Regular;
    size: 1.4rem;
    weight: 400;
  }
  line-height: 15.08px;
}

@mixin form_font_span{
  font: {
    color: $font_clr_2;
    family: $font_Sans_P_Regular;
    size: 1.2rem;
    weight: 400;
  }
  line-height: 12.57px;
}

@mixin form_btn{
  border: none;
  width: 284px;
  height: 36px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;

}

//SHADOWS

@mixin form_shadow{
  -webkit-box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 6px 8px 0px rgba(34, 60, 80, 0.2);
}

@mixin prod_shadow{
  -webkit-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 2px 8px 0px rgba(34, 60, 80, 0.2);
}

@mixin prod_shadow_hover{
  -webkit-box-shadow: 0px 7px 8px 4px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 7px 8px 4px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 7px 8px 4px rgba(34, 60, 80, 0.2);
}


@mixin input_style{
  background: #FFFEFB;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@mixin error-mess{
  font: {
    family: $font_Sans_P_Regular;
    size: 1.2rem;
    weight: 400;
  }
  line-height: 10.06px;
}