$clr-accept-btn: #7BAE73;
$clr-disabled-btn: #EEEEEE;

$clr-red: #FF8484;
$clr-disabled: #B4B4B4;

$path-font: '../assets/fonts/';

$font_Inter: 'Inter-SemiBold';
$font_Sans_P_Regular: 'SourceSansPro-Regular';
$font_Sans_P_Semi: 'SourceSansPro-SemiBold';



$font_clr_1: #3F3F3F;
$font_clr_2: #49485E;
